@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Roboto:ital,wght@0,400;1,100&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Epilogue:wght@300&family=Roboto:ital,wght@0,400;1,100&family=Space+Grotesk:wght@700&display=swap');

  .Syntrax {
    font-family: 'Space Grotesk', sans-serif;
    color: #000;
    font-size: 25px;
    padding-top: 28.5px;
    display: block;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    float: right;
    padding-top: 26.5px;
  }
  
  nav a {
    font-family: "be vietnam", sans-serif;
    color: rgb(139, 139, 139);
    text-decoration: none;
  }
  
  .no-underline {
    text-decoration: none;
  }

  .inpage {
    color: #f092cb;
  }

  .hero {
    text-align: center;
    padding: 50px 20px;
    position: relative;
}

.hero-image {
    width: 42%;
    height: 42%;
   padding: center;
   margin-top: 68px;
    
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}
 
.morado {
  color: #6155A6;
}

.button1 {
  background-color: #F092CB;
  border: none;
  color: white;
  padding: auto;
  width: 180px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  border-radius: 40px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.connect {
  color: #6155A6;
  font-size: 20px;
  margin-left: 24px;
}
